table {
  border: 1px solid aquamarine;
  background-color: aquamarine;
  /* border: none; */
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  text-align: center;
}

input {
  border: none;
  background-color: aquamarine;
  text-align: right;
}
input:focus {
  outline: none;
}
